<!DOCTYPE html>
<html>
<head>
	<title>Image Compressor</title>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/infinity/0.2.2/infinity.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
</head>
<body>
	<nav>
		<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top sticky-top">
		  <span class="navbar-text">
		      <a class="nav-item">Image Compresser using DCT</a>
		  </span>
		</nav>
	</nav>
	<br>
	<input type="file" id="fileupload" name="image" accept="image/*"/>
	<img id="blah" src="#" alt="your image" style="display: none;"/>
	<br><br>
	<button id="compress">Compress</button>
	<div class="div_imagetranscrits"></div>

	<script type="text/javascript">
		const handleImageUpload = event => {
			const files = event.target.files;

			if (event.target.files && event.target.files[0]) {
		    var reader = new FileReader();
		    reader.onload = function(e) {
		      $('#blah').attr('src', e.target.result);
		      $('#blah').show()
		    }
		    reader.readAsDataURL(event.target.files[0]); // convert to base64 string
		  }
		}

		document.querySelector('#fileupload').addEventListener('change', event => {
			handleImageUpload(event);
		});

		$(document).ready(function() {
			$("#compress").click(function(){
				if (!window.File || !window.FileReader || !window.FileList || !window.Blob) {
          alert('The File APIs are not fully supported in this browser.');
          return;
        }

				var input = document.getElementById('fileupload');
				if (!input) {
          alert("Um, couldn't find the fileinput element.");
        }
        else if (!input.files) {
          alert("This browser doesn't seem to support the `files` property of file inputs.");
        }
        else if (!input.files[0]) {
          alert("Please select a file before clicking 'Load'");
        }
        const formData = new FormData();
				formData.append('image', input.files[0]);
				$.ajax({
					type: 'POST',
					url: '/compress/',
					data: formData,
					success: function(data){
						console.log("response received success");
						console.log(data);
						$('.div_imagetranscrits').html('<img src="data:image/png;base64,' + data['encoded_img'] + '" />');
					},
					cache: false,
	        contentType: false,
	        processData: false,
				})
			})
		})

	</script>
</body>
</html>
