<!DOCTYPE html>
<html>
<head>
	<title>Image Compressor</title>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/infinity/0.2.2/infinity.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
</head>
<body>
	<nav>
		<nav class="navbar navbar-expand-md text-white navbar-dark bg-primary fixed-top sticky-top justify-content-center">
		  <span class="navbar-text">
		      <a class="nav-item">JPEG DCT Compressor</a>
		  </span>
		</nav>
	</nav>
	<br>

	<div class="container-fluid text-center">
		<img class="img-thumbnail img-fluid rounded" id="blah" src="#" alt="your image" style="display: none; width: 500px" />
		<br><br>
		<div class="container text-center">
			<label for="compression_rate">Chose Compression rate:</label>
			<select name="compression_rate" id="compression_rate">
				<option value=1>Low</option>
				<option value=2>Medium</option>
				<option value=3>High</option>
			</select>
			<label for="image">Choose a image:</label>
			<input type="file" id="fileupload" name="image" accept="image/*"/>
		</div>
		<br><br>
		<div class="conatiner text-center">
			<button id="compress">Compress</button><br><br>
			<div class="div_imagetranscrits"></div>
		</div>
	</div><br><br>
  <!--iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii
  <div>
  
	<input type="file" id="fileupload" name="image" accept="image/*"/>
  </div>


  <label for="compression_rate">Chose Compression rate:</label>

  

  <br>
	<img id="blah" src="#" alt="your image" style="display: none;"/>
	<br><br>


	<button id="compress">Compress</button>
	<div class="div_imagetranscrits"></div>-->

	<script type="text/javascript">
		const handleImageUpload = event => {
			const files = event.target.files;

			if (event.target.files && event.target.files[0]) {
		    var reader = new FileReader();
		    reader.onload = function(e) {
		      $('#blah').attr('src', e.target.result);
		      $('#blah').show()
		    }
		    reader.readAsDataURL(event.target.files[0]); // convert to base64 string
		  }
		}

		document.querySelector('#fileupload').addEventListener('change', event => {
			handleImageUpload(event);
		});

		$(document).ready(function() {
			$("#compress").click(function(){
				if (!window.File || !window.FileReader || !window.FileList || !window.Blob) {
          alert('The File APIs are not fully supported in this browser.');
          return;
        }

				var input = document.getElementById('fileupload');
				if (!input) {
          alert("Um, couldn't find the fileinput element.");
        }
        else if (!input.files) {
          alert("This browser doesn't seem to support the `files` property of file inputs.");
        }
        else if (!input.files[0]) {
          alert("Please select a file before clicking 'Load'");
        }
        var compression_rate = document.getElementById('compression_rate').value;
        const formData = new FormData();
				formData.append('image', input.files[0]);
        formData.append('compression_rate', compression_rate);
				$.ajax({
					type: 'POST',
					url: '/compress/',
					data: formData,
					success: function(data){
						$('.div_imagetranscrits').html('<img class="img-thumbnail img-fluid rounded mx-auto d-block" style="width: 500px;" src="data:image/png;base64,' + data['encoded_img'] + '" />');
					},
					cache: false,
	        contentType: false,
	        processData: false,
				})
			})
		})

	</script>
</body>
</html>
